/* Colors and fonts */

body {
	background-color: #233d4d;
	color:  #F3E37C;
	font-family: 'Baloo 2', cursive;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}
h1 {
	color: #F3E37C;
    font-family: cursive;
    font-weight: 800;
    font-size: 38px;
}
h2 {
	color: #F3E37C;
    font-family: cursive;
    font-weight: 500;
    font-size: 26px;
}

a {
	text-decoration: none;
	color: 	#f5fbef;
}
a:hover {
	color: #8d8d92;
}
div {
    background: #3AB795;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 700px
}

img {
	border-radius: 50%;
}

.btn-blue {
	background-color: #F5FBEF;
	color: #7C9EB2;
	padding: 10px 15px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: (rgb 230,230,230)
}

@media (max-width: 760px) {
	body {width: 600px}
	div {width: 600px}
}

@media (max-width: 500px)	{
	body {width: 400px}
	div {width: 400px}
}


